---
BasedOnStyle: GNU
AccessModifierOffset: -4
IndentWidth: 4
TabWidth: 4
UseTab: Never
# https://github.com/rism-digital/verovio/issues/387
Language: Cpp
#Standard: C++20 # clang-format-14 does not support this shit
# https://stackoverflow.com/a/70396681/9639179
Standard: Auto
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None


AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 1
PointerAlignment: Right
SortIncludes: false
SpaceBeforeParens: Never
SpacesInContainerLiterals: false